
<!-- extend from base layout -->                         
{% extends "base.html" %}                                

{% block content %}
<h1>Orgs Requisition List</h1>
<form action="" method="post" name="dns_ip">

<div style="height:700px;width:2000px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
<p style="height:300px;">                                                                                           
   <table border="1">                                                                                               
   {{form.hidden_tag()}}                                                                                            
   <div>                                                                                                            
    {% if submit_button_name %}
       <p><input type="submit" value={{submit_button_name}}></p>
    {% else %}
       <p><input type="submit" value="Submit A Record"></p>
    {% endif %}

    {% if template_title %}
       <p><a href='/listDBRecords'>{{template_title}}</a></p>                                                                                                            
    {%endif%}
   </div>

    {% if db_list %}
        {% if table_header %}
           <b><h>{{table_header}}</h></b>
        {%else%}
           <b><h>ORG DB Records(Click Button To Select Record For Updates)</h></b>
        {%endif%}
    <fieldlist>
       {% set index=0 %}
       <tr>
          {% if org_update_view %}
             <th></th>
          {%endif%}
          <th>Insert Date</th>
          <th>Update Date</th>
          <th>Org Name</th>
          <th>Pod Name</th>

          <th>Create<br>Org</th>
          <th>Create<br>Jcc</th>

          <th>requestor Type</th>
          <th>User<br>FirstName</th>
          <th>User<br>Lastname</th>
          <th>Cloud Plex Name</th>
          <th>Hadoop Plex Name</th>
          <th>Ground Plex Name</th>
          <th>Number<br>of Cloud</th>
          <th>Cloudplex<br>Created</th>
          <th>Cloudplex<br>required</th>
          <th>Cloudplex<br>Env</th>

          <th>Sidekick<br>required</th>
          <th>Sidekick<br>Env</th>
          
          <th>Hadooplex<br>required</th>
          <th>Hadooplex<br>Env</th>

          <th>Org Create<br>Status</th>
          <th>JCC Create<br>Status</th>
          <th>User<br>Email</th>
          <th>Requestor<br>Email</th>
          <th>JCC Names</th>
       </tr>
       {% for i in db_list  %}
        <tr>
            {% if org_update_view %}
               <td><input type='checkbox' name='box' value={{i.record_id}} </td>
            {%endif%}
            <td>{{i.create_date_time}}</td>
            <td>{{i.update_date_time}}</td>
            <td>{{i.org_name}}</td>
            <td>{{i.pod_name}}</td>
            <td>{{i.create_org_flag}}</td>
            <td>{{i.create_jcc_flag}}</td>
            <td>{{i.requestor_type}}</td>
            <td>{{i.user_firstname}}</td>
            <td>{{i.user_lastname}}</td>
            <td>{{i.cloud_plex_name}}</td>
            <td>{{i.hadoop_plex_name}}</td>
            <td>{{i.ground_plex_name}}</td>
            <td>{{i.number_of_cloud}}</td>
            <td>{{i.cloudplex_created}}</td>

            <td>{{i.create_cloud}}</td>
            <td>{{i.cloudplex_environment}}</td>

            <td>{{i.create_sidekick}}</td>
            <td>{{i.groundplex_environment}}</td>

            <td>{{i.create_hadooplex}}</td>
            <td>{{i.hadooplex_environment}}</td>

            <td>{{i.org_create_status}}</td>
            <td>{{i.jcc_create_status}}</td>
            <td>{{i.user_email}}</td>
            <td>{{i.requestor_email}}</td>
            <td>{{i.list_of_jcc_names}}</td>

            {% set index=index+1 %}
        </tr>
       {%endfor %}
       {%endif%}
    </fieldlist>

    {% with messages=get_flashed_messages() %}
    {% if _messages %}
    <p>SYSTEM MESSAGE</p>
    <tr>
    {% for message in messages %}
     <td>{{message}} </td>
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}


   </table>
</p>
</div>
</form>
{% endblock %}

