
<!-- extend from base layout -->                         
{% extends "base.html" %}                                

{% block content %}
<h1>DB Orgs Deletion Menu</h1>
<form action="" method="post" name="dns_ip">

<div style="height:700px;width:2000px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
<p style="height:300px;">                                                                                           
   <table border="1">                                                                                               
   {{form.hidden_tag()}}                                                                                            
   <div>                                                                                                            
    <p><input type="submit" value="Send Selected Recs To Local DB For Deletion"></p>                                                                       
    <p><a href='/deleteDBRecords'>Show All Org Records Available For Deletion</a></p> 
   </div>

    {% if db_list %}
        {% if template_title %}
           <th>{{template_title}}</th>
        {%else%}
           <b><h>Select ORG Records For Deletion</h></b>
        {%endif%}
    <fieldlist>
       {% set index=0 %}
       <tr>
          <th></th>
          <th>Insert Date</th>
          <th>Update Date</th>
          <th>Org Name</th>
          <th>Pod Name</th>
          <th>requestor Type</th>
          <th>Environment</th>
          <th>Plex Name</th>
          <th>Number<br>of Cloud</th>
          <th>Cloudplex<br>Created</th>
          <th>Sidekick<br>required</th>
          <th>Org Create<br>Status</th>
          <th>User<br>Email</th>
          <th>Requestor<br>Email</th>
          <th>JCC Names</th>
       </tr>
       {% for i in db_list  %}
        <tr>
            <td><input type='checkbox' name='box' value={{i.record_id}} </td>
            <td>{{i.create_date_time}}</td>
            <td>{{i.update_date_time}}</td>
            <td>{{i.org_name}}</td>
            <td>{{i.pod_name}}</td>
            <td>{{i.requestor_type}}</td>
            <td>{{i.environment}}</td>
            <td>{{i.plex_name}}</td>
            <td>{{i.number_of_cloud}}</td>
            <td>{{i.cloudplex_created}}</td>
            <td>{{i.create_sidekick}}</td>
            <td>{{i.org_create_status}}</td>
            <td>{{i.user_email}}</td>
            <td>{{i.requestor_email}}</td>
            <td>{{i.list_of_jcc_names}}</td>

            {% set index=index+1 %}
        </tr>
       {%endfor %}
       {%endif%}
    </fieldlist>
    </table>

    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <br><tr><b>STATUS MESSAGE</b></tr><br><br>
    <tr>
    {% for message in messages %}
     <td>{{message}} </td><br>
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}
</p>
</div>
</form>
{% endblock %}

