
<!-- extend from base layout -->                         
{% extends "base.html" %}                                

{% block content %}
<h1>JCC Records Deletion Menu</h1>
<form action="" method="post" name="dns_ip">

<div style="height:700px;width:2000px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
<p style="height:300px;">                                                                                           
   <table border="1">                                                                                               
   {{form.hidden_tag()}}                                                                                            
   <div>                                                                                                            
    <p>{{form.submit}} Submit All</p>                                                                               
    <p><input type="submit" value="Delete Selected Records"></p>                                                                       
    <p><a href='/deleteJCCRecords'>Show All JCC  Records Available For Deletion</a></p> 
   </div>

    {% if db_list %}
        {% if template_title %}
           <th>{{template_title}}</th>
        {%else%}
           <b><h>Select JCC Records For Deletion</h></b>
        {%endif%}
    <fieldlist>
       {% set index=0 %}
       <tr>
          <th></th>
          <th>Insert Date</th>
          <th>Update Date</th>
          <th>Jcc Name</th>
          <th>Org Name</th>
          <th>Pod Name</th>
          <th>Org Record ID</th>
          <th>Create Status</th>
          <th>Deploy Status</th>
          <th>Create Message Log</th>
          <th>Deploy Message Log</th>
       </tr>
       {% for i in db_list  %}
        <tr>
            <td><input type='checkbox' name='box' value={{i.record_id}} </td>
            <td>{{i.create_date_time}}</td>
            <td>{{i.update_date_time}}</td>
            <td>{{i.jcc_name}}</td>
            <td>{{i.org_name}}</td>
            <td>{{i.pod_name}}</td>
            <td>{{i.org_record_id}}</td>
            <td>{{i.jcc_create_status}}</td>
            <td>{{i.jcc_deploy_status}}</td>
            <td>{{i.jcc_create_message_log}}</td>
            <td>{{i.jcc_deploy_message_log}}</td>

            {% set index=index+1 %}
        </tr>
       {%endfor %}
       {%endif%}
    </fieldlist>

    {% with messages=get_flashed_messages() %}
    {% if _messages %}
    <p>SYSTEM MESSAGE</p>
    <tr>
    {% for message in messages %}
     <td>{{message}} </td>
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}
   </table>

    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <b><p>STATUS MESSAGE</p></b>
    <tr>
    {% for message in messages %}
     <td>{{message}}<br> </td>
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}

</p>
</div>
</form>
{% endblock %}

