<!-- extend from base layout -->                         
{% extends "base.html" %}                                

{% block content %}
<form action="" method="post" name="org_snap_List">

<div style="height:700px;width:2000px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
<p style="height:300px;">                                                                                           
    <table border="1">
     {% if selected_snap_list %}
     <h1>Selected Snaps For Org {{org_name}} in Pod {{pod_name}}</h1>
     {% set index=0 %}
     {% for i in selected_snap_list  %}
          {% set rows=index%7 %}
            {% if rows == 0 %}
               <tr></tr>
            {%endif%}
            <td>{{i}}</td>
          {% set index=index+1 %}
     {%endfor %}
    {%else%}
     <tr><b> MESSAGE </b><br><br></tr>
     <tr>The Org has no snaps</tr>
    {%endif%}


    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <p><b>SYSTEM MESSAGE</b></p>
    <tr>
    {% for message in messages %}
       {% for k in message.split(',') %}
          <tr>{{k}}<br></tr>
       {%endfor%}
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}
    </table>

</p>
</div>
</form>
{% endblock %}
