
<!-- extend from base layout -->                         
{% extends "base.html" %}                                

{% block content %}
<h1>Groundplex Keys Generation Form</h1>
<form action="" method="post" name="groundplex_keys">

<div style="height:700px;width:2000px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
<p style="height:300px;">                                                                                           
   <table border="1">
   {{form.hidden_tag()}}                                                                                            
   <div>                                                                                                            
    <p><input type="submit" value="Get Keys"></p>     
    <tr>                                                                  
       <td> <b>Org<br>Name<br></b>{{form.org_name}} </td>
       <td> <b>Pod<br>Name<br></b>{{form.pod_name}} </td>
    </tr>
    <p><a href='/getGroundplexKeys'>Groundplex Keys Menu</a></p> 
   </div>
   {% if results %}
   {% for line in results %}
   {{line}}<br>
   {%endfor%}
   {%endif%}

    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <br><tr><b>SYSTEM MESSAGE</b></tr><br><br>
    <tr>
    {% for message in messages %}
     <td>{{message}} </td><br>
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}
</p>
</div>
</form>
{% endblock %}

