
<!-- extend from base layout -->                         
{% extends "base.html" %}                                

{% block content %}
<h1>List Of JCCs</h1>
<form action="" method="post" name="jcc_data">

<div style="height:700px;width:2000px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
<p style="height:300px;">                                                                                           
   <table border="1">                                                                                               
   {{form.hidden_tag()}}                                                                                            
   <div>                                                                                                            
    <p>{{form.submit}} Submit All</p>                                                                               
    <p><input type="submit" value="Create JCCs Selected"></p>                                                                       
    <p><a href='/listJCCRecords'>Show All JCC Records</a></p>                                                                                                            
   </div>

    {% if db_list %}
        {% if template_title %}
           <th>{{template_title}}</th>
        {%else%}
           <b><h>JCC DB Records</h></b>
        {%endif%}
    <fieldlist>
       {% set index=0 %}
       <tr>
          <th></th>
          <th>Record Id</th>
          <th>Insert Date</th>
          <th>Update Date</th>
          <th>Jcc Name</th>
          <th>Instance<br>Id</th>
          <th>Org Name</th>
          <th>Pod Name</th>
          <th>MRC</th>
          <th>Build Prefix</th>
          <th>Deploy Jcc</th>
          <th>Org Record ID</th>
          <th>Create Status</th>
          <th>Deploy Status</th>
          <th>Jcc End</th>
          <th>Deploy Start</th>
          <th>Deploy End</th>
          <th>Create Message Log Link</th>
          <th>Deploy Message Log Link</th>
       </tr>
       {%set an_index=0 %}
       {% for i in db_list  %}
       {%set an_index = an_index + 1 %}
        <tr>
            <td><input type='checkbox' name='box' value={{i.record_id}} </td>
            <td>{{i.record_id}}</td>
            <td>{{i.create_date_time}}</td>
            <td>{{i.update_date_time}}</td>
            <td>{{i.jcc_name}}</td>
            <td>{{i.instance_id}}</td>
            <td>{{i.org_name}}</td>
            <td>{{i.pod_name}}</td>
            <td>{{i.mrc}}</td>
            <td>{{i.build_prefix}}</td>
            <td>
               <label>
                   <select name="deploy_jcc">
                   <option value="{(i.deploy_jcc}}">{{i.deploy_jcc}}</option>
                   {% for val in deploy_jcc_menu %}
                      {% if val != i.deploy_jcc %}
                          <option value="{{i.record_id}} {{val}}">{{val}}</option>
                      {% endif %}
                   {% endfor %}  
                   </select>
               </label>
            </td>
            <td>{{i.org_record_id}}</td>
            <td>{{i.jcc_create_status}}</td>
            <td>{{i.jcc_deploy_status}}</td>
            <td>{{i.jcc_complete_date_time}}</td>
            <td>{{i.deploy_start_date_time}}</td>
            <td>{{i.deploy_end_date_time}}</td>           
            <td>Some Link</td>
            <td>Some Link</td>
            {% set index=index+1 %}
        </tr>
       {%endfor %}
       {%endif%}
    </fieldlist>

    {% with messages=get_flashed_messages() %}
    {% if _messages %}
    <p>SYSTEM MESSAGE</p>
    <tr>
    {% for message in messages %}
     <td>{{message}} </td>
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}


   </table>
</p>
</div>
</form>
{% endblock %}

