
<!-- extend from base layout -->                         
{% extends "base.html" %}                                

{% block content %}
<h1>Org Create Transcript</h1>
<form action="" method="post" name="OrgCreateForm">
<p>
   {{form.hidden_tag()}}                                                                                            
   <div>                                                                                                            
    <p>{{form.submit}} Submit All</p>                                                                               
    <p><input type="submit" value="Run Org Creation Script"></p>                                                                       
   </div>

   {% if results %}
    <b><h>Org Create Transcript</h></b><br><br>
     {% for i in results  %}
       <td>{{i}}</td><br>
     {%endfor %}
   {%endif%}



   </table>
</p>
</div>
</form>
{% endblock %}

