<!doctype html>
{% extends "base.html" %}
{% block content %}

<p>Click The Button To Start The Org Creation Process</p>
<div>
   <div id='navigation'>
          <li>
             <a href='#'> RUN ORG Create Script </a>
               <ul>
                  <li> Run Org Script: <a href='/createOrgs'>Create The Orgs</a></li>
               </ul>
             <a href='#'>Manage JCCs By Project</a>
               <ul>
                  <li>LIST JCCs<br>
                    <ul>
                     <li>Search and Display JCCs<a href='/manageProjectJCCs'>Display JCC By Project</a></li>
                    </ul>
                  </li>
               </ul>

             <a href='#'>Generate Groundplex Keys</a>
               <ul>
                   <li>Display Groundplex Keys: <a href='/getGroundplexKeys'>Show Groundplex Keys</a></li>
               </ul>

             <a href='#'>Manage Org Users</a>
               <ul>
                  <li>VERIFY USER<br>
                    <ul>
                     <li>Check User Registration In POD: <a href='/manageOrgUser/GET_USER'>Verify User Exists</a></li>
                    </ul>
                  </li>

                  <li>ADD/REMOVE USER<br>
                    <ul>
                     <li>Add User To Org: <a href='/addOrgUser/ADD_USER'>Add Org User</a></li>
                     <li>Remove Org User: <a href='/removeOrgUser/REMOVE_USER'>Remove Org USER</a></li>
                    </ul>
                  </li>

               </ul>

             <a href='#'>Activate Backend Scripts</a>
               <ul>
                   <li>Launch Org Creation Script: <a href='/activateScripts'>Activate Org/Jcc Creation</a></li>
               </ul>

             <a href='#'>Provision New Org</a>
               <ul>
                  <li>ADD A NEW ORG TO THE DB<br>
                     <ul>
                       <li> Load Org Data: <a href='/getOrgData'>Input New Org Data</a> </li>
                     </ul>
                  </li>
                  <li>MANAGE ORG SNAPS<br>
                     <ul>
                        <li> List Org Premium Snaps: <a href='/ListOrgPremiumSnaps'>List Snaps Of the Org</a> </li>
                        <li> Update Org Premium Snaps: <a href='/UpdateOrgPremiumSnaps'>Add/Remove Snaps On the Org</a> </li>
                     </ul>
                  </li>
                  <li>MANAGE ORG FEATURES<br>
                     <ul>
                        <li> List Org Features: <a href='/ListOrgFeatures'>List Features Of the Org</a> </li>
                        <li> Add Org Features: <a href='/changeOrgFeatures/Add'>Add Features To the Org</a> </li>
                        <li> Remove Org Features: <a href='changeOrgFeatures/Delete'>Remove Features From the Org</a> </li>
                     </ul>
                  </li>

               </ul>

             <a href='#'> Update New Org Data Records</a>
               <ul>
                  <li> Update Org Data:<a href='/getUpdatedOrgData'>Update Org Input Data</a> </li>
                  <li> Update Special Org Data:<a href='/getSpecialUpdatedOrgData'>Update Special Org Input Data</a> </li>
                  <li> Delete ORG Records: <a href='/deleteDBRecords'>Display Org Records For Deletion</a></li>
               </ul>

             <a href='#'> Display Database Records </a>
               <ul>
                  <li> List Database Org Records: <a href='/listDBRecords'>Display All Org Records</a></li>
                  <li> List ALL Groundplex Records: <a href='/showRecordsWithKeys'>Display Selected Groundplex Keys</a></li>
               </ul>
             <a href='#'> Show JCC Records Display and Manipulation</a>
               <ul>
                  <li> List ALL JCC Records: <a href='/listJCCRecords'>Display All JCC Records</a></li>
                  <li> List ALL JCC Records: <a href='/listMigrationJCCRecords'>Display Migration JCC Records</a></li>
                  <li> Delete Jcc Records: <a href='/deleteJCCRecords'>Display All Jcc Records For Deletion</a></li>
               </ul>
          </li>
   </div>

</div>
{% endblock %}

