
<!-- extend from base layout -->                         
{% extends "base.html" %}                                

{% block content %}
<h1>List Of Existing JCCs</h1>
<form action="" method="post" name="migrating_jcc_data">

<div style="height:700px;width:2000px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
<p style="height:300px;">                                                                                           
   <table border="1">                                                                                               
   {{form.hidden_tag()}}                                                                                            
   <div>                                                                                                            
    <p>{{form.submit}} Submit All</p>                                                                               
    <p><input type="submit" value="List The JCCs"></p>                                                                       
    <p><a href='/listMigrationJCCRecords'>Show All Migrating JCC Records</a></p>                                                                                                            
   </div>

    {% if db_list %}
        {% if template_title %}
           <th>{{template_title}}</th>
        {%else%}
           <b><h>JCC DB Records</h></b>
        {%endif%}
    <fieldlist>
       {% set index=0 %}
       <tr>
          <th></th>
          <th>Org Name</th>
          <th>Pod Name</th>
          <th>Old Jcc Name</th>
          <th>New Jcc Name</th>
          <th>Elastic<br>Ip</th>
          <th>Old MRC</th>
          <th>Old JCC Version</th>
          <th>Org Record Id</th>
          <th>Record Id</th>
          <th>Insert Date</th>
          <th>Update Date</th>
       </tr>
       {%set an_index=0 %}
       {% for i in db_list  %}
       {%set an_index = an_index + 1 %}
        <tr>
            <td><input type='checkbox' name='box' value={{i.record_id}} </td>
            <td>{{i.org_name}}</td>
            <td>{{i.pod_name}}</td>
            <td>{{i.old_jcc_name}}</td>
            <td>{{i.new_jcc_name}}</td>
            <td>{{i.elastic_ip}}</td>
            <td>{{i.old_mrc}}</td>
            <td>{{i.old_jcc_ver}}</td>
            <td>{{i.org_record_id}}</td>
            <td>{{i.record_id}}</td>
            <td>{{i.create_date_time}}</td>
            <td>{{i.update_date_time}}</td>
            {% set index=index+1 %}
        </tr>
       {%endfor %}
       {%endif%}
    </fieldlist>

    {% with messages=get_flashed_messages() %}
    {% if _messages %}
    <p>SYSTEM MESSAGE</p>
    <tr>
    {% for message in messages %}
     <td>{{message}} </td>
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}
   </table>
</p>
</div>
</form>
{% endblock %}

