
<!-- extend from base layout -->                         
{% extends "base.html" %}                                

{% block content %}
<h1>Orgs Update List</h1>
<form action="" method="post" name="org_update">

<div style="height:700px;width:2000px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
<p style="height:300px;">                                                                                           
   <table border="1">                                                                                               
   {{form.hidden_tag()}}                                                                                            
   <div>                                                                                                            
    <p>{{form.submit}} Submit All</p>                                                                               
    <p><input type="submit" value="Update Orgs Selected"></p> 
    <p><a href='/getUpdatedOrgData'>Show All Org Records</a></p> 
   </div>

    {% if db_list %}
        {% if template_title %}
           <th>{{template_title}}</th>
        {%else%}
           <b><h>ORG DB Records</h></b>
        {%endif%}

        <fieldlist>
           <tr>
              <th></th>
              <th>Insert Date</th>
              <th>Update Date</th>
              <th>Org Name</th>
              <th>Pod Name</th>
              <th>requestor Type</th>
              <th>Environment</th>
              <th>Cloud Plex Name</th>
              <th>Ground Plex Name</th>
              <th>Hadoop Plex Name</th>
              <th>Number<br>of Cloud</th>
              <th>Cloudplex<br>Created</th>
              <th>Sidekick<br>required</th>
              <th>Org Create<br>Status</th>
              <th>User<br>Email</th>
              <th>Requestor<br>Email</th>
              <th>JCC Names</th>
           </tr>
           {% set anIndex=0 %}
           {% for i in db_list %}
           {% set anIndex=anIndex+1 %}
            <tr>
                <td><input type='checkbox' name='box' value={{i.record_id}} </td>
                <td>{{i.create_date_time}}</td>
                <td>{{i.update_date_time}}</td>
                <td>{{i.org_name}}<br>{{form.org_name}}</td>
                <td>{{i.pod_name}}<br>{{form.pod_name}}</td>
                <td>{{i.requestor_type}}<br>{{form.requestor_type}}</td>
                <td>{{i.environment}}<br>{{form.environment}}</td>
                <td>{{i.cloud_plex_name}}<br>{{form.cloud_plex_name}}</td>
                <td>{{i.ground_plex_name}}<br>{{form.ground_plex_name}}</td>
                <td>{{i.hadoop_plex_name}}<br>{{form.hadoop_plex_name}}</td>
                <td>{{i.number_of_cloud}}<br>{{form.number_of_cloud}}</td>
                <td>{{i.cloudplex_created}}<br>{{form.cloudplex_created}}</td>
                <td>{{i.create_sidekick}}<br>{{form.create_sidekick}}</td>
                <td>{{i.org_create_status}}<br>{{form.org_create_status}}</td>
                <td>{{i.user_email}}<br>{{form.user_email}}</td>
                <td>{{i.requestor_email}}<br>{{form.requestor_email}}</td>
                <td>{{i.list_of_jcc_names}}<br>{{form.list_of_jcc_names}}</td>
            </tr>
           {%endfor%}
        </fieldlist>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <p>SYSTEM MESSAGE</p>
    <tr>
    {% for message in messages %}
     <td>{{message}} </td>
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}
  {%endif%}


  </table>
</p>
</div>
</form>
{% endblock %}

