
<!-- extend from base layout -->                         
{% extends "base.html" %}                                

{% block content %}
<form action="" method="post" name="features_List">

<div style="height:700px;width:2000px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
<p style="height:300px;">                                                                                           
   <table border="1">                  
   {% if org_name %}                                                                             
      <h1>Processing Features of Org: {{org_name}} in POD: {{pod_name}}
   {% endif %}
   <h1>Features List(Select Features To {{processing_type}})</h1>
   {{form.hidden_tag()}}                                                                                            
   <div>                                                                                                            
    {% if ops_type=='LocalDBAdd' %}
       <p><input type="submit" value="Send Selection To The Local DB"> <a href='/getOrgData'>Return To Org data input</a></p>
    {% else %}
       <p><input type="submit" value="Send Updates To The Org DB"> <a href='/ListOrgFeatures'>List Features Assigned To The Org</a></p>
    {%endif%}

    {% if template_title %}
       <p><a href='/ListOrgFeatures'>{{template_title}}</a></p>                                                                                                            
    {%endif%}
   </div>

    {% if features_list %}
        {% if table_header %}
           <th></th>
        {%else%}
           <b><h>Click Button(s) To Select Required Features</h></b>
        {%endif%}
     {% set index=0 %}
     {% for i in features_list  %}
          {% set rows=index%1 %}
            {% if rows == 0 %}
               <tr></tr>
            {%endif%}
            <td><input type='checkbox' name='box' value={{index}} </td>
            <td>{{i}}</td>
          {% set index=index+1 %}
     {%endfor %}
    {%endif%}
   </table>
</p>
<br>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <p>SYSTEM MESSAGE</p>
    <tr>
    {% for message in messages %}
     <td>{{message}} </td>
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}
</div>

</form>

{% endblock %}

