<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>User Login Validation</h1>
<form action="" method="post" name="org_snap_data_input">

   <table border="1">
   {{form.hidden_tag()}}
   <div>
    <p>{{form.submit}} Submit All</p>
    <p><input type="submit" value= 'Show The Premium Snaps'></p>
    <tr>
       <td> <b>User Name</b>{{form.user_name}} </td>
       <td> <b>Password</b>{{form.password}} </td>
    </tr>
   </div>

<tr>
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    <p><b>SYSTEM MESSAGE</b></p>
    <tr>
    {% for message in messages %}
       {% for k in message.split(',') %}
          <tr>{{k}}<br></tr>
       {%endfor%}
       <br>
    {%endfor %}
    </tr>
    {%endif%}
    {%endwith%}
</tr>

</form>
{% endblock %}

