<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ SnapLogic - Data Integration
  ~
  ~ Copyright (C) 2014, SnapLogic, Inc.  All rights reserved.
  ~
  ~ This program is licensed under the terms of
  ~ the SnapLogic Commercial Subscription agreement.
  ~
  ~ "SnapLogic" is a trademark of SnapLogic, Inc.
  -->

<Configuration name="CustomJccConfig" packages="com.snaplogic.cc.log">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT" follow="true" ignoreExceptions="true">
            <PatternLayout pattern="%d{yyyy-MM-dd}T%d{HH:mm:ss,SSS} %level{length=1} %-20t %-30F [%X{ccid} %X{plrd} %X{snii}] %m%xEx{short}%n"/>
        </Console>
        <Console name="STDERR" target="SYSTEM_ERR" follow="true" ignoreExceptions="true">
            <PatternLayout pattern="%d{yyyy-MM-dd}T%d{HH:mm:ss,SSS} %level{length=1} %-20t %-30F [%X{ccid} %X{plrd} %X{snii}] %m%xEx{full}%n"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="sl" level="debug" includeLocation="false" additivity="false">
            <AppenderRef ref="STDOUT" />
        </Logger>
        <Logger name="sl.access" level="debug" includeLocation="false" additivity="false">
            <AppenderRef ref="STDERR" />
        </Logger>
        <Logger name="com.snaplogic.snapi.util.SignatureUtility" level="warn" includeLocation="true" additivity="false">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="STDERR" />
        </Logger>
        <Logger name="com.snaplogic" level="debug" includeLocation="true" additivity="false">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="STDERR" />
        </Logger>
        <!-- Disable httpclient wire logs -->
        <Logger name="org.apache.http.headers" level="warn" includeLocation="true" additivity="false">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="STDERR" />
        </Logger>
        <Logger name="org.apache.http.wire" level="warn" includeLocation="true" additivity="false">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="STDERR" />
        </Logger>
        <Logger name="cascading" level="debug" additivity="false">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="STDERR" />
        </Logger>
        <Root level="error" additivity="false">
            <AppenderRef ref="STDERR" />
        </Root>
    </Loggers>
</Configuration>